{% extends 'base.html.twig' %}
{% block title %}project symfony{% endblock %}
{% block body %}
<div
 style=" display: flex;
  justify-content: center;">
<h1>Bienvenue</h1>
</div>
<diV  style=" display: flex;
  justify-content: center;">
<img src="image/image3.png" width='250' height='150' ><br>
</div>
<diV style="background-color: lightgrey;
  color: blue;font-style: oblique;font-size: 20px;margin-right: 80px;
  margin-left: 80px;">
Le concept se démarque par une offre de qualité grâce au reconditionnement complet des jeux d’occasion en Tunisie. Retrouvez un large choix de jeux et consoles neuf et d’occasion pas cher, tel que vous n’en trouverez pas ailleurs. Chaque jour, on achète et revende des jeux et consoles que vous retrouvez sur notre site.  la Playstation 4 en Tunisie, la Xbox One en Tunisie, la Switch en Tunisie,

Vous trouverez tous vos licences préférées comme Battlefield en Tunisie, Call of Duty en Tunisie, Assassin’s Creed en Tunisie, Fifa en Tunisie, Pro evolution soccer en Tunisie, Final Fantasy en Tunisie, God of war en Tunisie, NBA en Tunisie, et bien d’autres encore !

Sur notre site, découvrez des styles de jeu pour tous les goûts avec de nombreux genres différents : Action, Aventure, Jeu de rôle, Fantasy, Hack’n Slash, plateforme, sport, etc.)
</div>
{% endblock %}